# Python
*.pyc
*.egg-info


# Tox/Nox/Tests/Coverage
/.nox
/.tox
/ci/coverage-html
*.coverage
/coverage.xml
*.pytests.xml
.pytest_cache


# Editor Clutter
.vscode
.idea


# Build related
dist
/build
npm-debug.log
.*-cache
node_modules


# Local dev files
/mise.local.toml
/notes.md
/tmp

# Terraform
*.tfstate*
tf.plan
.terraform*


# Project specific
/tmp
zor-config.ini
